<div class="container"	
	fxLayout="row"
	fxLayout.sm="column"
	fxLayout.xs="column"
	fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px"
	fxLayoutGap.xs="0">

	<div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
		<md-card >
	      <md-card-header>
	        <md-card-title>
	          <h3>{{dish.name | uppercase}}</h3>
	        </md-card-title>
	      </md-card-header>
	      
	      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
	      
	      <md-card-content>
	        <p>{{dish.description}}
	        </p>
	      </md-card-content>

	      <md-card-actions>
	      	<button md-button [routerLink]="['/dishdetail',prev]">
	      		<span class="fa fa-chevron-left fa-lg"></span></button>

	      	<button md-button (click)="goBack()">BACK</button>
	        <button md-button>LIKE</button>
	        <button md-button>SHARE</button>

	        <span class="flex-spacer"></span>
	        <button md-button [routerLink]="['/dishdetail',next]">
	      		<span class="fa fa-chevron-right fa-lg"></span></button>

	      </md-card-actions>
	    </md-card>
	    <div [hidden]="dish || errMess">
			<md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
		</div>
		<div *ngIf="errMess">
			<h2>Error</h2>
			<h4>{{errMess}}</h4>	
		</div>

	</div>

	<div fxFlex="40"   fxFlexOffset="20px" fxLayout="column" *ngIf="dish" [@visibility]="visibility" [@expand]>
		<md-list fxFlex >
			<h2>Comments</h2>
			<md-list-item *ngFor="let comm of dish.comments">
				<p md-line> <span> {{comm.comment}} </span> </p>
				<p md-line> <span> {{comm.rating}} </span> Stars</p>
				<p md-line>-- <span> {{comm.author}} {{comm.date | date}} </span> </p>
			</md-list-item>
		</md-list>		
		<div [hidden]="dish">
			<md-spinner></md-spinner> <h4>Loading . . . Please Wait</h4>
		</div>

		<div fxFlex>
			<md-list>
				<span [hidden]="commentForm.invalid">
				<md-list-item [hidden]="commentForm.invalid" >
					<!--p md-line> <span> {{c|json}} </span> </p-->
				    <p md-line> <span> {{commentForm.value.comment}} </span> </p>
					<p md-line> <span> {{commentForm.value.rating}} </span> Stars</p>
					<p md-line>-- <span> {{commentForm.value.author}} </span> </p>
				</md-list-item>
				</span>
			</md-list>

		    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
		      <p>
		        <md-input-container dividerColor="{{formErrors.author ? 'warn' : 'primary'}}">
		          <input mdInput formControlName="author" placeholder="Your name" [(ngModel)]="c.author" type="text" name="author" required>
		          <md-hint color="warn">
		            <span [hidden]="!(formErrors.author)">{{formErrors.author}}</span>
		          </md-hint>
		        </md-input-container>
			 </p>
			 
			 <md-slider min="1" max="5" step="1" thumbLabel="1" tickInterval="1" [value]="rating" formControlName="rating" [(ngModel)]="c.rating" name="rating" ></md-slider>
			 
		     <p>
		        <md-input-container dividerColor="{{formErrors.comment ? 'warn' : 'primary'}}">
		          <textarea mdInput formControlName="comment" placeholder="Your Comments" rows="10" [(ngModel)]="c.comment" name="comment" required>
		          </textarea>
		          <md-hint color='warn'>          
		            <span [hidden]="!(formErrors.comment)">{{formErrors.comment}}</span>
		          </md-hint>
		        </md-input-container>            
		     </p>		      

		     <p>
		     	<button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
		  	 </p>
		    </form>
		  </div>
	</div>
   
</div>